##################################################
# JAVA / MAVEN
##################################################

*.class
*.jar
*.war
*.ear

target/
out/
build/

.mvn/wrapper/maven-wrapper.jar

##################################################
# IntelliJ
##################################################

.idea/
*.iml

##################################################
# Eclipse
##################################################

.project
.classpath
.settings/

##################################################
# VS Code
##################################################

.vscode/

##################################################
# Angular / Node
##################################################

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

##################################################
# Logs
##################################################

*.log
logs/

##################################################
# Sistema Operacional
##################################################

.DS_Store
Thumbs.db

##################################################
# Arquivos temporários
##################################################

*.tmp
*.swp
*.bak

##################################################
# Ambiente
##################################################

.env
.env.*

##################################################
# Coverage
##################################################

coverage/

##################################################
# npm
##################################################

npm-debug.log*
yarn-debug.log*
yarn-error.log*

##################################################
# Testes
##################################################

test-output/

##################################################
# Arquivos de IDE
##################################################

.history/

##################################################
# Certificados
##################################################

*.pem
*.key
*.crt
backend/data/footballstats.mv.db
